@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
@media (min-width: 1920px) {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
  font-size: 18px;
  color: #707070;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 40px;
  font-weight: Bold;
  margin-bottom: 30px;
}

h3 {
  font-size: 25px;
}

p {
  padding: 0 0 10px 0;
  font-size: 18px;
  line-height: 1.7;
}

body {
  color: #222222;
  font-family: "Noto Sans TC", "微軟正黑體", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: none;
  color: #222222;
}

a:hover {
  background: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #6596d8;
}

a:focus {
  color: #6596d8;
}

a img {
  border: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

.active a {
  color: #6596d8;
}

a* {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.feature a img, .contact button img {
  border: none;
  margin-left: 6px;
  height: 15px;
  vertical-align: baseline;
}

.table-container {
  width: 100%;
  overflow-y: auto;
  margin: 20px 0;
}

@media (max-width: 600px) {
  .table-container {
    padding: 20px 0;
  }
}

.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid #ddd;
}

#container {
  position: relative;
  overflow: hidden;
  min-height: auto !important;
}

.wrap:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.header-wrap {
  width: 1600px;
  margin: 0 auto;
}

.wrap {
  width: 1540px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 1920px) {
  .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

h2 {
  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  background: url(../images/icon-h.svg) no-repeat;
  width: 100px;
  height: 100px;
  top: -27px;
  left: -42px;
  z-index: -1;
}

.contact h2::before {
  left: 43.5%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #020100;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 99;
}

.header .header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header-wrap::after {
  content: none;
}

.header .header-wrap .logo {
  margin: 20px 0;
}

.header .header-wrap .menu li {
  display: inline-block;
}

.header .header-wrap .menu li + li {
  border-left: 1px solid #fff;
}

.header .header-wrap .menu li a {
  font-size: 20px;
  color: #fff;
  padding: 0 30px;
  line-height: 1;
}

.about {
  background: url(../images/company.jpg) no-repeat top right;
  position: relative;
  top: -50px;
  padding: 200px 0;
  z-index: -1;
}

.about .wrap .txt {
  width: 54%;
}

.feature {
  background: url(../images/feature.jpg) no-repeat top 126px left;
  padding: 30px 0 60px;
}

.feature .txt {
  width: 54%;
  margin-left: auto;
}

.feature .txt .tab {
  font-size: 18px;
}

.feature .txt .tab h3 {
  margin: 50px 0 15px;
}

.feature .txt .tab table {
  margin-bottom: 30px;
}

.feature .txt .tab table thead tr th {
  background: #535353;
  color: #fff;
  font-size: 18px;
  padding: 15px 24px;
  text-align: center;
}

.feature .txt .tab table tbody tr:nth-child(even) {
  background: #EEEDEC;
}

.feature .txt .tab table tbody tr:nth-child(odd) {
  background: #fff;
}

.feature .txt .tab table tbody tr td {
  padding: 12px 15px;
}

.feature .txt .tab table tbody tr td:first-child {
  text-align: center;
  padding: 12px 24px;
  white-space: nowrap;
}

.feature .txt .tab .feature-btn {
  text-align: center;
}

.feature .txt .tab .feature-btn .btn a {
  padding: 15px 45px;
}

.feature .txt .tab .feature-btn .btn-default {
  display: inline-block;
  padding: 15px 0;
  margin: 15px;
  border: 0;
}

.feature .txt .tab .feature-btn .btn-default a {
  background: #F6AB00;
  color: #fff;
}

.pro-app .pro-app-title {
  background: url(../images/pro_bg.jpg) no-repeat;
  text-align: center;
  padding: 40px 500px;
}

.pro-app .pro-app-title .pro-app-title-bg {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 100px;
}

.pro-app .pro-app-item > div {
  margin: 30px 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.pro-app .pro-app-item .app-item-til-r {
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pro-app .pro-app-item .app-item-til-r img {
  vertical-align: middle;
  padding-right: 30px;
}

.pro-app .pro-app-item .app-item-til-l {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pro-app .pro-app-item .app-item-til-l img {
  vertical-align: middle;
  padding-left: 30px;
}

.contact h2 {
  text-align: center;
}

.contact .contact-item {
  margin: 50px auto;
}

.contact .contact-item > div {
  width: calc(100%/2);
}

.contact .contact-item::after {
  clear: both;
  content: "";
  display: block;
  visibility: hidden;
}

.contact .contact-item .company-info {
  -webkit-box-shadow: 0px 3px 6px #00000017;
          box-shadow: 0px 3px 6px #00000017;
  float: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
}

.contact .contact-item .company-info .company-info-item {
  padding-left: 60px;
}

.contact .contact-item .company-info .company-info-item li {
  padding-bottom: 10px;
}

.contact .contact-item .company-info .company-info-item li .bi {
  margin-right: 10px;
}

.contact .contact-item .company-info .company-info-item p {
  color: #707070;
}

.contact .contact-item .info-form {
  float: right;
}

.contact .contact-item .info-form form {
  margin-left: 60px;
  text-align: center;
}

.contact .contact-item .info-form .form-control {
  width: 100%;
  border: 1px solid #CCCCCC;
  margin: 0 0 15px 0;
  padding: 15px 25px;
  font-size: 14px;
  display: block;
  border-radius: 0;
}

.contact .contact-item .info-form .code-groud .code_left {
  float: left;
  width: 40%;
  margin-right: 20px;
}

.contact .contact-item .info-form .code-groud .code_right {
  float: left;
}

.contact .contact-item .info-form .code-groud::after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

.contact .contact-item .info-form .btn-primary {
  margin: 50px auto 0;
  padding: 18px 76px;
  border-radius: 0;
  background: #F6AB00;
  border: 0;
}

.footer {
  background: #707070;
  padding: 12px 0;
}

.footer p {
  font-size: 15px;
  color: #fff;
}

.footer p:first-child {
  float: left;
  line-height: 1;
  padding: 0;
}

.footer p:last-child {
  float: right;
  line-height: 1;
  padding: 0;
}

.footer p a {
  font-size: 15px;
  color: #fff;
}
