
$main-color: #000 !default; 
$second-color: #646464 !default; 
$header-color: #000 !default; //h1
$hover-color: #DC0017 !default;
$main-txt-color:#222222 !default;
$main-link-color:#707070 !default;
$main-link-color-hover:#DC0017 !default;
$bg-color: #ffffff !default;
$bg-sub-color: #96AECE !default;
$bg-gray: #F0F1F2 !default;

$arrow-color: #ffffff !default;
$slide-dots-color: #AFC2D8 !default;
$slide-dots-color-active: #607791 !default;

$tablebg-color1-th:#535353 !default;
$tablebg-color1-td:#ffffff !default;
$tablebg-color2-td:#EEEDEC !default;


$main-size: 18px;
$text-size: 18px;
$index-ti-size: 40px;


$btn-primary-link-color: #F6AB00 !default; //#e00034
$btn-primary-hover-color: #c4002e !default; //  #ae2b30
$btn-primary-disabled-color: #595656 !default;

$btn-default-link-color: #d4d0c7 !default;
$btn-default-hover-color: #c6c0b3 !default;
$btn-default-disabled-color: #e2e0db !default;

$btn-success-link-color: #b0a7a2 !default;
$btn-success-hover-color: #a69c97 !default;
$btn-success-disabled-color: #bcb4b0 !default;

$btn-info-link-color: #595656 !default;
$btn-info-hover-color: #e72e35 !default; //#857777
$btn-info-disabled-color: #bdb4b4 !default;


$default-font-family: 'Noto Sans TC', "敺株��迤暺煾��", \5FAE\8EDF\6B63\9ED1\9AD4, "Microsoft JhengHei", "敺株蔓��暺�", "�～�扎�芥��", "諤𡢾� 窸𧙖��", sans-serif;
$table-font-family:'Noto Sans TC', sans-serif;
$header-height : 94px;

@mixin clearul {
    list-style: none;
    margin: 0;
    padding: 0;
}
@mixin clearfloat{
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}
@mixin transition{
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
@mixin notransition{
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}